.emptyContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 2rem 1.2rem;
}

.emptyImgInner{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #007cee4a;
}

.emptyImgInner svg{
    width: 40px;
    flex-shrink: 0;
}

.emptyImgInner svg path{
    stroke: #007cee;
}

.danger .emptyImgInner{
    background: #ff000040;
}

.danger .emptyImgInner svg path{
    stroke: #ff0000;
}

@media (max-width: 480px) {
    .emptyImgInner{
        width: 48px;
        height: 48px;
    }

    .emptyImgInner svg{
        width: 28px;
    }
}