:root{
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
	background: #1c1c1c;
	color: #fff;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input, textarea, select{
	transition: .2s linear;
	font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none;
	color: #fff;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

button, input{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

input{
	cursor: text;
}

input:focus::placeholder{
	opacity: 0;	
}